<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
      <ul class="nav nav-pills">
        <li><a class="navbar-brand" [routerLink]="['/']" routerLinkActive="active"><img src="././rail.png" alt="Tatkalseva"></a></li>
        <li ><a [routerLink]="['/']" class="xcsd" routerLinkActive="active">Home</a></li>
        <li><a href="#" [routerLink]="['/form']" class="xcsd" routerLinkActive="active">Form</a></li>
        <li class="pull-right"><a href="#" class="xcsd" routerLinkActive="active">Link</a></li>
      </ul>
  </div>
</nav>