<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
      <ul class="nav nav-pills">
        <li><a class="navbar-brand" [routerLink]="['/']" routerLinkActive="active"><img src="././rail.png" alt="Tatkalseva"></a></li>
        <li ><a [routerLink]="['/']" class="xcsd" routerLinkActive="active">Home</a></li>
        <li><a href="/form" class="xcsd" routerLinkActive="active">Form</a></li>
        <li><a href="/howToDo.html" target="_blank" class="xcsd" >How We Do</a></li>
        <li><a href="/WhatWEDo.html" target="_blank" class="xcsd">What We Do</a></li>
        <li><a href="/privacy.html" target="_blank" class="xcsd">Users Privacy</a></li>
        <li class="pull-right lul"><div class="fb-share-button" data-href="https://www.facebook.com/rapidbook.in/" data-layout="button" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.facebook.com%2Frapidbook.in%2F&amp;src=sdkpreparse">Share</a></div></li>
      </ul>
  </div>
</nav>
