<div class="container-fluid df">
  <div class="jumbotron text-center">
    <h1>Welcome To Rapidbook.in</h1>
    <p>To start Booking your railway ticket click the below button and start filling the form</p>
    <p><a [routerLink]="['/form']" class="btn btn-primary btn-lg">Go To Tatkal Form</a></p>
  </div>
</div>
<div class="container">
  <div class="list-group">
    <a class="list-group-item">
      <h4 class="list-group-item-heading">What is Rapidbook.in ? <span class="label label-info">Info</span></h4>
      <p class="list-group-item-text">Rapidbook.in Autofill Form is a tool to autofill IRCTC Tatkal Ticket Booking Form. Mostly when we try to book tatkal ticket online we end up booking waiting ticket or none. The main reason behind is, The form fill-up time required at irctc website. So we introduce you to Rapidbook.in autofill form to fill the irctc form before even login. It will increase your chances of having a confirmed railway ticket.
          We created this software, all you have to do is fill the form and click submit button. After that go to irctc and every page is filled by the the information you provided.
          <strong>We Do Not Store Any Credentials Of Our Customer. </strong>
          All you have to do is fill the form before 10AM if going for AC or before 11AM if going for SL at our website. Then click the save button now you are ready to go.
      </p>
    </a>
    <a class="list-group-item">
      <h4 class="list-group-item-heading">How To Use This Form ? <span class="label label-info">Info</span></h4>
      <ul class="list-group-item-text">
        <li>Fist Click The Form in MenuBar or Click The Go To Tatkal Form Button</li>
        <li>Now The Form Will be open</li>
        <li>In order To work this form you must install the browser extension</li>
        <li>Click the install plugin button if you haven't installed it yet. If you have then you are good to go</li>
        <li>Now Fill all The details </li>
        <li>Now Click Save Button . A Popup will open Now click go to IRCTC or you can close this popup and open a tab in the browser and Go to IRCTC Website</li>
        <li>If you are Booking tickect For AC then login before 10AM and The browser will automatically Select train So don't click Train category button eg. 3A,2A etc</li>
        <li>If you are Booking tickect For SL then login before 11AM and The browser will automatically Select train So don't click Train category button eg. SL,2S etc</li>
        <li>Now Enter The captcha and the click Next </li>
        <li>Now You are Done Congratulation Your Ticket is Booked</li>
      </ul>
    </a>
  </div>
</div>
